page {
  background-color: #f5f5f5;
  font-size: 28rpx;
  color: #1f1f1f;
}

.card {
  background: #fff;
  border-radius: 16rpx;
  padding: 24rpx;
  margin: 16rpx 24rpx;
}

.title {
  font-weight: 600;
  font-size: 34rpx;
}